@tailwind base;
@tailwind components;
@tailwind utilities;

body { 
  background: #262425,  #faf5f4,#a51d1d ;
}

.miClaseCSS {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: moverYMostrar 1s forwards;
}

.miClaseCSSMobile{
  background-color: #ec0c7c;
}

@keyframes moverYMostrar {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
